################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/short project/Default.aspx
/short project/Default.aspx.cs
/short project/log.aspx
/short project/log.aspx.cs
/short project/regi.aspx
/short project/regi.aspx.cs
